@import '../../../assets/scss/settings/variables';
@import '../../../assets/scss/tools/mixins';
@import '../../../assets/scss/generic/shared';

.form {

  &.ng-invalid.submitted {
    .e-form-control.ng-invalid {
      border-color: #dc3545 !important;
    }
  }

  &__unit {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: $main-color;
    z-index: 3;
    background-color: #fff;

    @extend .g-text--no-select;
  }

  &__row {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__img-upload {
    padding: 40px 0;
    background-color: $main-light-color;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include transition(all, 0.3);

    .far {
      font-size: 7rem;
      margin-bottom: 10px;
      @include transition(transform, 0.3);
    }

    &:hover {
      color: $main-color;
    }

    &--dropping {
      border-style: dashed;
      border-color: $main-color;
      .far {
        color: $main-color;
        transform: scale(1.2);
      }
    }

  }
  .uploaded-imgs {
    position: absolute;
    margin-top: 15px;
    padding-right: 30px;
    width: 100%;
    margin-top: 15px;
    &__img-item {
      position: relative;
    }
    .img-responsive {
      max-width: 100%;
      height: auto;
      &:hover + .c-delete-btn {
        opacity: 1;
      }
    }
    .c-delete-btn {
      @include transition(opacity, 0.2);
      opacity: 0.5;
      &:hover{
        opacity: 1;
      }
    }
  }
  .c-second-btn {
    .spinner-border {
      margin-top: -2px;
    }
  }
}

.progress-bar {
  width: auto;
  height: 20px;
}