<section class="container">
  <form 
  [formGroup]="superForm" 
  (ngSubmit)="submitForm()" 
  class="o-section-content form">

    <!-- images -->
    <div class="row justify-content-center form__row">
      <div class="col-md-3">
        <label for="carImages" class="e-label e-form-control form__img-upload">
          Click / Drag to upload images
          <input id="carImages" class="e-form-control--hidden" type="file" accept="image/*" multiple>
          <i class="far fa-images"></i>
        </label>
      </div>

      <div class="col-md-9">
        <!-- name - brand - year -->
        <div class="row form__row">
          <!-- name -->
          <div class="col-md-5">
            <fieldset class="e-form-group form__field">
              <label 
              for="carName" 
              class="e-label e-label--floated"
              appLabelOverflowInput
              >
                Supercar name
              </label>
              <input 
              id="carName" 
              type="text" 
              class="e-form-control"
              formControlName="carName">
            </fieldset>
          </div>
          <!-- name /end -->
    
          <!-- brand -->
          <div class="col-md-4">
            <fieldset class="e-form-group form__field">
              <label 
              for="brandName" 
              class="e-label e-label--floated"
              appLabelOverflowInput>
              Supercar brand
            </label>
            <input 
            id="brandName" 
            type="text" 
            class="e-form-control"
            formControlName="brandName">
          </fieldset>
          </div>
          <!-- brand /end -->
        
          <!-- year -->
          <div class="col-md-3">
            <fieldset class="e-form-group form__field">
                <label for="manufactureYear" 
                class="e-label e-label--floated"
                appLabelOverflowInput>
                Manufacture year
              </label>
              <input 
              type="number" 
              class="e-form-control" 
              id="manufactureYear"
              formControlName="manufactureYear">
              <span class="form__unit">1980-{{currentYear}}</span>
            </fieldset>
          </div>
          <!-- year /end -->
          
        </div>
        <!-- name - brand - year /end -->
    
        <!-- description -->
        <div class="row form__row">
          <div class="col-md-12">
    
            <fieldset class="e-form-group form__field">
              <label for="description" 
              class="e-label e-label--top-floated"
              appLabelOverflowInput>
                Description
              </label>
              <textarea
              class="e-form-control e-text-area" 
              id="description"
              formControlName="description"></textarea>
            </fieldset>
    
          </div>
        </div>
        <!-- description /end -->
        
        <!-- engine details -->
        <div class="row form__row">
          <div class="col-md-3">
            <fieldset class="e-form-group form__field">
              <label for="engineType" class="e-label e-label--floated"
              appLabelOverflowInput>
                Engine type
              </label>
              <select 
              class="e-form-control" 
              id="engineType"
              formControlName="engineType">
                <option value="" disabled hidden></option>
                <!-- <option value="">Flat 6</option> -->
                <option value="v6">V6</option>
                <option value="v8">V8</option>
                <option value="v10">V10</option>
                <option value="v12">V12</option>
                <option value="w12">W12</option>
                <option value="w14">W16</option>
              </select>
            </fieldset>
          </div>
          <div class="col-md-3">
            <fieldset class="e-form-group form__field">
              <label 
              for="engineCC" 
              class="e-label e-label--floated"
              appLabelOverflowInput>
                Engine capacity
              </label>
              <input 
              type="number" 
              class="e-form-control" 
              id="engineCC"
              formControlName="engineCC">
              <span class="form__unit">Litre</span>
            </fieldset>
          </div>
          <div class="col-md-3">
            <fieldset class="e-form-group form__field">
              <label 
              for="horsePower" 
              class="e-label e-label--floated"
              appLabelOverflowInput>
                Horse power
              </label>
              <input 
              type="number" 
              class="e-form-control" 
              id="horsePower"
              formControlName="horsePower">
              <span class="form__unit">BHP/WHP</span>
            </fieldset>
          </div>
          <div class="col-md-3">
            <fieldset class="e-form-group form__field">
              <label 
              for="torque" 
              class="e-label e-label--floated"
              appLabelOverflowInput>
                Torque
              </label>
              <input 
              type="number" 
              class="e-form-control" 
              id="torque"
              formControlName="torque">
              <span class="form__unit">N.m</span>
            </fieldset>
          </div>
        </div>
        <!-- engine details/ end -->
    
        <!-- speed and price -->
        <div class="row form__row">
          <div class="col-md-4">
            <fieldset class="e-form-group form__field">
              <label 
              for="maxSpeed" 
              class="e-label e-label--floated"
              appLabelOverflowInput>
                Maximum speed
              </label>
              <input 
              type="number" 
              class="e-form-control" 
              id="maxSpeed"
              formControlName="maxSpeed">
              <span class="form__unit">KMH</span>
            </fieldset>
          </div>
          <div class="col-md-4">
            <fieldset class="e-form-group form__field">
              <label 
              for="zeroToSixty" 
              class="e-label e-label--floated"
              appLabelOverflowInput>
                0 - 100
              </label>
              <input 
              type="number" 
              class="e-form-control" 
              id="zeroToSixty"
              formControlName="zeroToSixty">
              <span class="form__unit">KMH</span>
            </fieldset>
          </div>
          <div class="col-md-4">
            <fieldset class="e-form-group form__field">
              <label 
              for="price" 
              class="e-label e-label--floated"
              appLabelOverflowInput>
                Price
              </label>
              <input 
              type="number" 
              class="e-form-control" 
              id="price"
              formControlName="price">
              <span class="form__unit">
                <i class="fas fa-dollar-sign"></i>
              </span>
            </fieldset>
          </div>
        </div>
        <!-- speed and price /end -->
      </div>
    </div>
    <!-- images /end -->

    <!-- form footer -->
    <div class="row justify-content-end">
      <div class="col-auto mt-5">
        <button class="c-second-btn mr-3" type="submit">Save</button>
        <button class="c-normal-btn" type="button">Cancel</button>
      </div>
    </div>
    <!-- form footer /end -->
  </form>
</section>