@import '../../assets/scss/settings/variables';
@import '../../assets/scss/tools/mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: absolute;
  width: 100%;
  z-index: 555;

  &__logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: #fff;
    margin: 0 15px;
  }

  &__toggler {
    display: none;
  }
  
  @media screen and (max-width: 767.98px) {
    .navbar {
      display: none;
    }
    &__toggler {
      display: inline-block;
      margin: 0 15px;
      transform: skewX(-15deg);
      padding: 10px 12px;
      .hamburger-menu {
        position: relative;
        right: -1px;
        width: 25px;
        height: 2px;
        background-color: $main-color;
        display: inline-block;
        transform: skewX(15deg);
        @include transition(all, 0.2);
        
        &:after {
          content: '';
          position: absolute;
          top: -9px;
          left: 0;
          width: 25px;
          height: 2px;
          background-color: $main-color;
          @include transition(all, 0.2);
        }
      }

      &:hover .hamburger-menu, &:hover .hamburger-menu:after { 
        background-color: #fff;
      }

      &--opened {
        .hamburger-menu {
          transform: rotateZ(41deg);
          top: -5px;

          &:after {
            transform: rotateZ(-88deg);
            top: 0;
          }
        }
      }
    }
  }

  .navbar {
    position: relative;
    margin: 0 15px;
    transform: skewX(-15deg);

    &--mobile {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 42px;
      right: 19px;
      overflow: hidden;

      .navbar__link {
        width: 100%;
      }
    }
    // &::after {
    //   content: '';
    //   position: absolute;

    // }

    &__link {
      padding:  15px;
      &.e-link--active {
        background: $primary-dark-color;
      }
    }
    &__text {
      transform: skewX(15deg);
      display: inline-block;
    }
  }
}