
<header class="header">
  <!-- header logo -- start -->
  <div class="header__logo">
    auto-supers
  </div>
  <!-- header logo -- end -->

  <!-- navbar toggler -- start -->
  <button 
    class="header__toggler o-multi-bg c-reset-btn"
    [ngClass]="{'header__toggler--opened': navIsOpened}"
    (click)="navIsOpened = !navIsOpened">
    <span class="hamburger-menu"></span>
  </button>
  <!-- navbar toggler -- end -->
  
  <!-- navbar -- start -->
  <nav 
    class="navbar"
    [ngClass]="{'navbar--mobile': navIsOpened}"
    [@toggleNav]="navIsOpened? 'end': 'begin'">
    <a 
    class="navbar__link o-multi-bg" 
    routerLink="/home" 
    routerLinkActive="e-link--active"
    [routerLinkActiveOptions]="{exact: true}">
      <span class="navbar__text">
        Home
      </span>
    </a>
    <a 
    class="navbar__link o-multi-bg" 
    routerLink="/supers" 
    routerLinkActive="e-link--active" 
    [routerLinkActiveOptions]="{exact: true}">
      <span class="navbar__text">
        Supers
      </span>
    </a>
    <a 
    class="navbar__link o-multi-bg" 
    routerLink="/supers/create"  
    routerLinkActive="e-link--active">
      <span class="navbar__text">
        Create 
      </span>
    </a>
    <a 
    class="navbar__link o-multi-bg" 
    routerLink="/about"  
    routerLinkActive="e-link--active">
      <span class="navbar__text">
        About
      </span>
    </a>
  </nav>
  <!-- navbar -- end -->
</header>
