
<header class="header">
  <div class="header__logo">
    auto-supers
  </div>

  <nav class="navbar">
    <a 
    class="navbar__link" 
    routerLink="/home" 
    routerLinkActive="e-link--active"
    [routerLinkActiveOptions]="{exact: true}">
      <span class="navbar__text">
        Home
      </span>
    </a>
    <a 
    class="navbar__link" 
    routerLink="/supers" 
    routerLinkActive="e-link--active" 
    [routerLinkActiveOptions]="{exact: true}">
      <span class="navbar__text">
        Supers
      </span>
    </a>
    <a 
    class="navbar__link" 
    routerLink="/supers/create"  
    routerLinkActive="e-link--active">
      <span class="navbar__text">
        Create 
      </span>
    </a>
    <a 
    class="navbar__link" 
    routerLink="/about"  
    routerLinkActive="e-link--active">
      <span class="navbar__text">
        About
      </span>
    </a>
  </nav>
</header>
