
<header class="header">
  <div class="header__logo">
    auto-supers
  </div>

  <nav class="navbar">
    <a href="" class="navbar__link">
      <span class="navbar__text">
        Home
      </span>
    </a>
    <a href="" class="navbar__link">
      <span class="navbar__text">
        Browse
      </span>
    </a>
    <a href="" class="navbar__link">
      <span class="navbar__text">
        Create 
      </span>
    </a>
    <a href="" class="navbar__link">
      <span class="navbar__text">
        About
      </span>
    </a>
  </nav>
</header>
