@import '../../../assets/scss/settings/variables';

.super {
  padding: 50px 0;
  &__img {
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__name {
    color: $second-color;
  }

  &__spec {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}
:host {
  app-loading::ng-deep {
    .lds-facebook { 
      display: block;
      margin: 0 auto;
    }
    .lds-facebook div  { 
      background: $main-color;
    }
  }
  ngx-slick-carousel::ng-deep {
    .slick-prev, .slick-next {
      z-index: 156;
    }
    .slick-prev::before, .slick-next::before {
      color: $main-color;
      opacity: 0.5;
    }
    .slick-prev:hover::before, .slick-next:hover::before {
      color: $main-color;
      opacity: 1;
    }
  }
}