<div class="super">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <ngx-slick-carousel 
        class="carousel" 
        #slickModal="slick-carousel" 
        [config]="slidesConfig">

          <div ngxSlickItem class="super__img" *ngFor="let img of activeSuper.carImages">
            <img 
            class="img-fluid"
            [src]="img" 
            [alt]="activeSuper.carName">
          </div>

        </ngx-slick-carousel>
      </div>
      <div class="col-sm-5">
        <h3 class="e-main-title super__name">
          {{activeSuper.carName}}
        </h3>
        <p class="e-paragraph e-paragraph--dark">
          {{activeSuper.description}}
        </p>

        <div class="super__spec">
          <strong>Max Speed: </strong> 
          {{activeSuper.maxSpeed}}
          KP/H
        </div>
        <div class="super__spec">
          <strong>0-100 KM/H: </strong> 
          {{activeSuper.zeroToSixty}}
          Seconds
        </div>
      
      </div>
      <div class="col-12"></div>
    </div>
  </div>
</div>