.c-reset-btn {
  border: none;

  &:focus {
    outline: none;
    border: none;
  }
}

.c-main-btn {
  width: 120px;
  height: 50px;
  background-color: $main-color;
  color: #fff;
  border-radius: $border-radius;
  cursor: pointer;
  @include transition(background-color, 0.3);

  &:hover {
    background-color: $second-color;
  }
  &:disabled {
    background-color: rgb(158, 99, 113);
    cursor: not-allowed;
  }
}
.c-second-btn {
  color: $main-color;
  border: 2px solid $main-color;
  background-color: #fff;
  width: 150px;
  height: 40px;
  border-radius: 0;
  font-weight: 600;
  @include transition(all, 0.3);

  &:hover, &--active {
    background-color: $main-color;
    color: #fff;
  }
}
.c-normal-btn {
  @extend .c-second-btn;
  background-color: $border-color;
  border: none;
  color: $primary-dark-color;

  &:hover {
    background-color: $text-color;
  }
}