.e-form-group {
  border: none;
  padding: 0;
}
.e-form-control {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px solid $border-color;
  border-radius: $border-radius;
  @include transition(border-color, 0.3);
  line-height: 22px;

  &--hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 0;
  }

  &:focus {
    border-color: $main-color;
    outline: none;
  }

  // remove numbers arrows
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  &[type="number"] {
    -moz-appearance:textfield;
  }

  &.ng-dirty.ng-valid {
    border-color: #28a745;
  }
  &.ng-dirty.ng-invalid {
    border-color: #dc3545;
  }
}

.e-label {
  font-size: 1.2rem;
  color: $text-color;
  margin-bottom: 5px;
  @include transition(all, 0.3);
}

.e-label--floated {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  height: 1.2rem;
  height: fit-content;
  cursor: text;
}
.e-label--top-floated {
  @extend .e-label--floated;
  bottom: unset;
  top: 15px;
  margin: unset;
  background-color: #fff;
}

.e-text-area {
  resize: vertical;
  min-height: 60px;
  max-height: 300px;
  height: 100px;
}
.e-form-group {
  position: relative;
  .e-label {
    padding: 0 1px;
    background-color: #fff;
  }
  .e-label--floated.e-label--focused {
    top: -38px;
  }
  .e-label--top-floated.e-label--focused {
    top: -5px;
  }
}