// colors variables
$main-color: #C42F51;
$second-color: #DB7F67;
$primary-dark-color: #272D2D;
$text-color: #636363;
$border-color: #c2c2c2;
$main-light-color: #F6F8FF;

// global variables 
$border-radius: 6px;
$border: 2px solid $border-color;
$box-shadow: 0 5px 15px rgba($color: $primary-dark-color, $alpha: 0.2);