@import '../../assets/scss/settings/variables';

.search {
  margin-top: 3rem;
  display: flex;
  
  &__field {
    flex: 1;
    margin-right: 1rem;
  }
}

.results {
  position: fixed;
  width: calc(100% - 115px);
  border-radius: $border-radius;
  background-color: #fff;
  padding: 10px;
  margin-top: 1rem;
  app-loading::ng-deep {
    .lds-facebook { 
      display: block;
      margin: 0 auto;
    }
    .lds-facebook div  { 
      background: $main-color;
    }
  }
}