<form class="search" (ngSubmit)="submitSearch(searchForm)" #searchForm="ngForm">
  <fieldset class="search__field e-form-group">
    <input 
      class="search__bar e-form-control" 
      placeholder="Search a super..." 
      type="text" 
      name="search"
      [(ngModel)]="searchKeyword"
      (input)="quickSearch()"
      required>
  </fieldset>

  <button 
    class="c-reset-btn c-main-btn" 
    type="submit"
    [disabled]="searchForm.invalid"
    [ngStyle]="{
      'cursor': isSearching? 'not-allowed': null,
      'background-color': isSearching? '#DB7F67': null
    }">
    {{ isSearching ? 'Searching': 'Search'}}
  </button>
</form>

<div class="results" *ngIf="searchForm.submitted">
  <app-loading *ngIf="isSearching; else results"></app-loading>
  
  <ng-template #results>
    <h2 class="results__title">Results:</h2>
    {{searchKeyword}}
  </ng-template>
  
</div>

