@import '../../assets/scss/settings/variables';

.search {
  margin-top: 3rem;
  display: flex;
  
  &__field {
    flex: 1;
    margin-right: 1rem;
  }
}

.results {
  position: absolute;
  width: calc(100% - 30px);
  border-radius: $border-radius;
  background-color: #fff;
  padding: 10px;
  margin-top: 1rem;
  min-height: 84px;
  max-height: 300px;
  overflow: auto;
  app-loading::ng-deep {
    .lds-facebook { 
      display: block;
      margin: 0 auto;
    }
    .lds-facebook div  { 
      background: $main-color;
    }
  }

  &__title {
    font-size: 1.8rem;
    letter-spacing: unset;
    margin-bottom: 1rem;
  }
}