<form class="search" (ngSubmit)="submitSearch(searchForm)" #searchForm="ngForm">
  <fieldset class="search__field e-form-group">
    <input 
      class="search__bar e-form-control" 
      placeholder="Search a super..." 
      type="text" 
      name="search"
      [(ngModel)]="searchKeyword"
      (input)="onInputType(searchKeyword)"
      required>
      <i class="fas fa-search"></i>
  </fieldset>
</form>

<div 
class="results" 
*ngIf="showResults"
appClickOutside
(togglerSubject)="showResults = false"
>
  <app-loading *ngIf="isSearching; else results"></app-loading>
  
  <ng-template #results>
    <ul class="results__supers">
      <li 
      class="results__super-item" 
      *ngFor="let super of searchedSupers">
        <a class="results__super-link"  [routerLink]="'/supers/' + super.carCode">
          {{super.carName}}
        </a>
      </li>

      <li class="results__super-item--no-results" *ngIf="!searchedSupers.length && !searchError?.length">
        No Results Found
      </li>
      <li class="results__super-item--no-results" *ngIf="!searchedSupers.length && searchError?.length">
        {{searchError}}
      </li>
    </ul>
  </ng-template>
  
</div>

