@import '../../assets/scss/settings/variables';

.bookmarks {
  position: relative;
  overflow: hidden;

  &__item {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 60px;
    font-size: 1.6rem;
    color: $text-color;
    background-color: $main-light-color;
    overflow: hidden;
    border-radius: 6px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__drag {
    border-right: 1px solid $border-color;
    margin-right: 20px;
    height: 100%;
    padding-right: 10px;
    cursor: grab;
    display: flex;
    align-items: center;
  }
  &__delete {
    display: inline-block;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
    &:hover .fas {
      color: $main-color;
    }
  }
}